#gmap_canvas {
    width: 45%;
    height: 450px; 
    margin: 64px;
}

#gmap_canvas-detalhes {
    width: 80%;
    height: 450px;
}

.local-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0px auto;
}

.local-titulo {
    font-size: 24pt;
    color: #14D6B5
}

.container {
    margin-top: 25px;
}

.one {
    width: 45%;
    height: 100%;
    float: left;
    padding-left: 24px;
}
.two {
    margin-left: 45%;
    height: 100%;
}

li {
    list-style-type: none;
}

.local-content h2 {
    margin: 0px auto;
    margin-bottom: 25px;
}

.cadastro-Prontuarios {
    margin-top: 50px;
}

.cadastro-Prontuarios form {
    width: 45%;
    display: flex;
    flex-direction: column;

}

.cadastro-clinica {
    width: 50%;
}

.lista-prontuarios {
    width: 80%;
    margin: 0 auto;
}