body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-background {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-box {
    background-color: teal;
    width: 60%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
}

.login-form {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    margin-bottom: 30px;
}



