.login-button{
    background-color: #13C9AA;
    border: 0;
    width: 45%;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 15px;
    box-shadow: 1px 1px 5px #000;
}