.input-padrao {
    border: 0;
    border-bottom:3px solid #13C9AA;
    width: 100%;
    height: 40px;
    font-size: 15pt;
    /* padding-left: 10px; */
    margin-bottom: 15px;
    margin-top: 15px;
}