#ElementoLista {
    display: flex;
    width: 100%;
}
 h3 {
     margin: 4px 8px;
 }

 button {
     background: #ffffff00;
     border: none;
     color: #14D6B5;
     outline: none;
     font-size: 10pt;
     font-weight: 600;
     cursor: pointer;
 }